<!-- Column -->
<div class="my-1 px-1 w-full flex-col md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
    <!-- Article -->
    <article class="flex flex-col overflow-hidden rounded-lg shadow-2xl border-4 border-green-700 bg-green-800 h-full transform hover:scale-105 ease-in duration-500">

        <a href="#">
            <%= image_tag product.image, class:"block h-64 w-full", alt: "Picture Of Meal" %>
        </a>

        <header class="flex items-center justify-between leading-tight px-4 pt-2 md:px-4">
            <h1 class="text-lg">
                <a class="no-underline hover:underline" href="#">
                    <%= link_to product.name, product, class:"text-lg font-bold text-yellow-400 inline-block hover:text-green-500 transition ease-in-out duration-200" %>
                </a>
            </h1>
            <p class="text-grey-darker text-md italic font-bold text-yellow-400">
                <%= number_to_currency product.price %>
            </p>
        </header>

        <p class="py-2 px-4 pt-2 md:px-4 mb-auto "><%= product.description %></p>
        <div class="icons flex py-2 px-4 pt-2 md:px-4">
            <% if product.gluten_free %>
                <i class="material-icons">breakfast_dining</i>
            <% end %>
            <% if product.kosher %>
                <i class="material-icons">star</i>
            <% end %>
            <% if product.vegan %>
                <i class="material-icons">eco</i>
            <% end %>
            <% if product.vegetarian %>
                <i class="material-icons">grass</i>
            <% end %>
            <% if product.dairy_free %>
                <i class="material-icons">agriculture</i>
            <% end %>
        </div>

        <footer class="flex items-center justify-between leading-none mt-2 p-2 md:p-4 border-t-4 border-yellow-400">
            <%= link_to product.category.heading, product.category, class:"text-lg font-bold text-yellow-400 inline-block hover:text-green-500 transition ease-in-out duration-200" %>

            <% if session[:shopping_cart].include?(product.id) %>
                <%= button_to cart_path(product), method: :delete, class: "text-lg font-bold text-green-800 inline-block py-2 px-4 bg-yellow-400 rounded hover:bg-yellow-300 transition ease-in duration-200" do %>
                    Remove
                <% end %>
            <%else %>
                <%= form_with model: @order_item do |f|%>
                    <%= f.hidden_field :product_id, value: product.id %>
                    <%= f.hidden_field :quantity, value: 1, min: 1 %>
                    <%= f.submit "Add", class: "text-lg font-bold text-green-800 inline-block py-2 px-4 bg-yellow-400 rounded hover:bg-yellow-300 transition ease-in duration-200" %>
                <% end %>
            <% end %>
        </footer>

        <%# <div class="flex justify-evenly m-4 pt-4 border-t-4 border-yellow-400">
            <%= link_to "Details", product, class:"text-lg font-semibold inline-block py-2 px-2 bg-yellow-400 rounded hover:bg-yellow-300 transition ease-in duration-200"%>

    </article>
    <!-- END Article -->

</div>
<!-- END Column -->