<div class="md:flex justify-between py-20 px-10 bg-yellow-300">
  <div class="md:w-1/2 mb-10 md:mb-0">
    <h2 class="lg:text-6xl md:text-5xl mb-6">Meals</h2>
    <p class="mb-6 text-xl">Crockodile meals are vacuum sealed and ready to be emptied into your slow cooker</p>

    <a href="about" class="inline-block py-3 px-6 text-lg text-gray-50 font-semibold bg-green-800 hover:bg-green-600 transition ease-in duration-200 rounded mr-3">Learn More</a>
  </div>
</div>

<section class="bg-green-800 h-50">
    <div class="container mx-auto py-8">
      <%= form_tag(search_path, method: "get", remote: true) do %>
        <div class="flex mb-8">
          <%= text_field_tag :search, '', class:"w-full h-16 rounded-l focus:outline-none focus:shadow-outline text-xl px-8 shadow-lg", placeholder: "Search...", onkeydown: 'clickSubmit();' %>
          <%= select_tag "filter", options_for_select(['Select Filter', 'Dairy Free', 'Gluten Free', 'Kosher', 'Vegan', 'Vegetarian']), class: "border-l border-gray-600 px-8 font-semibold", onchange: "clickSubmit();" %>
          <%= submit_tag "Search", class: "button bg-yellow-300 hover:bg-yellow-200 text-green-800 rounded-r px-12 font-bold text-lg", id: "search_submit"%>
        </div>
      <% end %>
      <div class="flex flex-wrap mx-1 lg:mx-4 " id="products-container">
        <%= render @products %>
      </div>
      <div class="ml-2 mt-4 font-bold text-yellow-300 text-xl" id="paginate-container">
        <%= paginate @products %>
      </div>
    </div>
</section>

<script>
  function clickSubmit() {
    $("#search_submit").trigger.("click");
  }
</script>


