<!-- Header   -->
<div class="bg-green-800 p-4 flex justify-between items-center">
  <!-- Left Side Nav -->
  <div class="flex items-center ml-16">
    <%= link_to image_tag("logo_yellow.png", width: 125, alt:"logo"), root_path, class: "transition ease-in hover:opacity-75 duration-200"   %>
    <%# <img src="/images/logo_yellow.png" width="100" alt="Logo" class="ml-5 mr-8"> %>

    <a href="<%= root_path %>" class="text-lg font-semibold inline-block ml-6 p-2 pr-4 mr-2 text-gray-50 hover:text-green-400">Home</a>
    <a href="<%= products_path %>" class="text-lg font-semibold inline-block p-2 pr-4 mr-2 text-gray-50 hover:text-green-400">Meals</a>
    <a href="#" class="text-lg font-semibold inline-block p-2 pr-4 mr-2 text-gray-50 hover:text-green-400">About</a>
    <a href="#" class="text-lg font-semibold inline-block p-2 pr-4 mr-2 text-gray-50 hover:text-green-400">Contact</a>
  </div>

  <!-- Right Side Nav -->
  <div class="mr-16">
    <% if user_signed_in? %>
      <%= link_to "Log Out", destroy_user_session_path,
      method: :delete, class:"text-lg font-semibold inline-block p-2 mr-2 text-gray-50 hover:text-green-400" %>
      <%= link_to 'Account', edit_user_registration_path, class: "text-lg font-semibold inline-block py-2 px-4 bg-yellow-300 rounded hover:bg-yellow-400 transition ease-in duration-200" %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class:"text-lg font-semibold inline-block p-2 mr-2 text-gray-50 hover:text-green-400" %>

      <%= link_to "Sign up", new_user_registration_path, class:"text-lg text-green-800 font-semibold inline-block py-2 px-4 bg-yellow-300 rounded hover:bg-yellow-400 transition ease-in duration-200"%>
    <% end %>
  </div>
</div>