<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Crockodile</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <% if flash[:notice] %>
    <div class="notification is-success global-notification">
      <div class="bg-green-600 text-center py-4 lg:px-4">
        <div class="p-2 bg-yellow-300 items-center leading-none lg:rounded-full flex lg:inline-flex" role="alert">
          <span class="font-semibold mr-2 text-left flex-auto"><%= flash[:notice] %></span>
        </div>
      </div>
    </div>
    <% end %>

    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
